<html>
  <head>
    <title>Welcome to the Pecube web GUI</title>
  </head>
  <body>
    <h1 style="text-align:center;">You have been successfully logged out!</h1>
    <h2 style="text-align:center;">Login ID: '{{user_id}}'</h2>
  </body>
</html>
